<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1 th:text="${'BLOG'}"></h1>

    <hr>

    <a th:if="${sessionUser == null}" th:href="@{/login}">Login</a>
    <a th:if="${sessionUser == null}" th:href="@{/register}">Registrieren</a>

    <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>

    <hr>

    <h1 th:text="${'Beiträge'}"></h1>

    <a  th:if="${sessionUser != null && sessionUser.admin==1}" th:href="@{/message}">Beitrag verfassen</a>

    <br><p></p><br>


    <div th:each="message: ${messages}">
        <a th:href="@{/profile/{username}(username=${message.user.username})}">
            <strong th:text="${'Beitrag von: ' + message.user.username}"></strong>
        </a>
        <strong th:text="${message.title}"></strong>
        <hr>
        <span th:text="${message.text}"></span>
        <hr>

        <form th:if="${sessionUser != null && sessionUser.admin==1}" method="post" th:action="@{/message/{messageid}/edit/beitrag(messageid=${message.id})}">

            <a th:href="@{/message/{messageid}/edit(messageid=${message.id})}">Beitrag bearbeiten</a>
        </form>


        <form th:if="${(sessionUser != null && sessionUser.admin==1 || sessionUser==2) }" method="post" th:action="@{/profile/{messageid}/messageDelete(messageid=${message.id})}">
            <button type="submit">Beitrag Löschen</button>
        </form>
        <hr>







        <a th:if="${sessionUser != null}" th:href="@{/message/{messageid}(messageid=${message.id})}">Kommentieren</a>
        <div th:each="comment: ${message.getComments()}">
            <p>
                <a th:href="@{/profile/{username}(username=${comment.user.username})}">
                <strong th:text="${'Kommentar von: ' + comment.user.username}"></strong>
                <span th:text="${comment.getText()}"></span>
            </p>
        </div>





        <br><p></p><br>
    </div>
</body>
</html>
